* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  height: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  color: #171616;
  background: #ffffff;
}
.main-index {
  flex: 1 1 auto;
}

.main-catalog {
  flex: 1 1 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*:focus-visible {
  outline: 2px solid #af4fff;
}

.button {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* !!================================================HEADER ======START===============================*/
.header {
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  width: 1160px;
  margin: 40px auto 0;
  min-height: 300px;
  background: #ffe17f;
}

.header-container {
  padding: 0 60px 0 60px;
  margin: -22px auto;
}
.header-container__link-logo {
  display: inline-block;
  margin-bottom: 30px;
}

.user-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* !!====================================================================FORM-SEARCH */
.user-nav__search {
  position: relative;
  display: flex;
  width: 517px;
}

.search-name::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/icon/header-user-nav/search.svg);
  background-repeat: no-repeat;
  top: 12px;
  left: 16px;
}

.search-field {
  position: relative;
  width: 357px;
  height: 40px;
  padding: 10px 56px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-right: none;
  box-sizing: border-box;
  border-radius: 50px 0px 0px 50px;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.search-btn {
  width: 160px;
  height: 40px;
  padding: 9px 56px;
  box-sizing: border-box;
  border-radius: 0px 50px 50px 0px;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  border: solid 2px black;
  color: #000000;
}

.search-btn:hover {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}

.search-btn:active {
  color: grey;
}

/* !!====================================================================FORM-SEARCH ==========finish*/

/* !!====================================================================USER-NAV */
.user-nav__list {
  display: flex;
}

.user-nav__item {
  position: relative;
  align-items: center;
}

.user-nav__item:first-child {
  margin-right: 198px;
}
.user-nav__item:nth-child(2) {
  margin-right: 61px;
}

.user-nav-link {
  color: #000000;
  position: relative;
  display: inline-block;
}

.user-nav-link:hover {
  opacity: 0.3;
}

.user-nav-link:active {
  color: grey;
}

.icon-login::before {
  content: "";

  width: 15px;
  height: 12px;
  position: absolute;
  background-image: url(../img/icon/header-user-nav/login.svg);
  background-repeat: no-repeat;
  top: 9px;
  left: -27px;
}

.icon-compare::before {
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  background-image: url(../img/icon/header-user-nav/compare.svg);
  background-repeat: no-repeat;
  top: 9px;
  left: -27px;
}

.icon-basket::before {
  content: "";
  width: 31px;
  height: 21px;
  position: absolute;
  background-image: url(../img/icon/header-user-nav/basket-counter.svg);
  background-repeat: no-repeat;
  top: 4.5px;
  left: -43px;
}

/*!!=========================================================================================== PAGE-NAV-CONTAINER */
.page-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* !!============================================================CATALOG-GROUP */
.nav-catalog {
  display: flex;
  align-items: center;
}

.nav-catalog-link {
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  margin-right: 20px;
  outline: none;
}

.btn-catalog {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  opacity: 0.3;
  border: 2px solid #000000;
  background: transparent;
}

.btn-catalog::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/icon/header-user-nav/plus.svg);
  background-repeat: no-repeat;
  top: 15px;
  left: 15.5px;
}

.btn-catalog:hover {
  border: 2px solid #000000;
  opacity: 1;
}

.catalog-group {
  width: 1160px;
  height: 180px;
  background: #ffe17f;
  padding: 0 60px 0 60px;
  opacity: 0;
  position: absolute;
  bottom: -182px;
  left: -60px;
}

.nav-catalog:focus-within {
  opacity: 1;
  outline: 2px solid #af4fff;
}

.nav-catalog:focus + .nav-catalog,
.catalog-group:focus-within {
  opacity: 1;
}

.catalog-group-inner {
  display: flex;
  width: 675px;
}

.other-list {
  min-width: 222px;
  min-height: 180px;
  margin-right: 30px;
}

.other-link,
.clock-link,
.quadcopters-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.clock-list,
.quadcopters-list {
  min-width: 211px;
}

.nav-page__list {
  display: flex;
  justify-content: flex-end;
}

.nav-page__item:nth-child(1) {
  margin-right: 51px;
}

.nav-page__item:nth-child(2) {
  margin-right: 45px;
}

.nav-page__item:focus-within {
  outline: 2px solid #af4fff;
}

.link {
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
}

.nav-page__link {
  padding: 0 5px 0 5px;
  outline: none;
}

.nav-page__item:active {
  text-decoration: underline;
}

/* !!======================MAIN-INDEX */

/*!!                     START-SLIDER */
.counter {
  font-weight: bold;
  font-size: 180px;
  line-height: 30px;
  color: #000000;
}

.slide-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slide-desk {
  color: #444444;
}

.characteristic-list dt {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}
.characteristic-list dd {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/*!!                    FINISH-SLIDER */

/* ?===================START-CATEGORY */
.category-container {
  width: 1160px;
  height: 253px;
  margin: 0 auto;
}

.category-list {
  display: flex;
}

.category-item:active {
  opacity: 0.3;
}

.category-item:not(:last-child) {
  margin-right: 40px;
}

.category-desk {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  padding-top: 32px;
}

.background-block {
  display: block;
  width: 160px;
  height: 160px;
  background: #ffe17f;
}

.virtual-real::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/virtual-real.svg) no-repeat 50% 53px;
}
.monopad::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/monopad.svg) no-repeat 50% 43px;
}
.camera::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/camera.svg) no-repeat 50% 36px;
}
.fitnes::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/fitnes.svg) no-repeat 50% 47px;
}
.clock-work::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/clock-work.svg) no-repeat 50% 31px;
}
.quadrocopter::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/quadrocopter.svg) no-repeat 50% 45px;
}

.background-block:hover {
  background: #ffc700;
}

.category-link {
  display: block;
}

/* ?===================FINISH-CATEGORY */

/*!!                     START-SERVICE */
.service-btn-cheked {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffe17f;
}

.service-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.service-desk {
  color: #444444;
}

.service-list-desk {
  position: relative;
}

.service-item-desk::before {
  content: "";
  display: block;
  position: absolute;
  width: 136px;
  height: 164px;
  top: 0;
  right: 0;
  background: url(../img/decor-images/courier.svg) no-repeat center;
}
/*!!                    FINISH-SERVICE */

/*!!              START-ORDER-DELIVERY */

.order-delivery-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/*!!             FINISH-ORDER-DELIVERY */

/* ?=====================START-DETAILS */
.container-wrapper {
  display: flex;
}

.details-container {
  width: 1160px;
  height: 545px;
  margin: 0 auto;
}

.about {
  height: 498px;
  margin-right: 108px;
}

.delivery-company-list {
  margin-bottom: 30px;
}

.details-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 48px;
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 24px;
  color: #444444;
  margin-bottom: 15px;
}

.contacts-schedule {
  margin-bottom: 30px;
}

.details-text {
  color: #444444;
  margin-bottom: 30px;
}

.details-text-adress {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contacts-addres-link-phone {
  display: inline-block;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  text-decoration: underline;
  margin-bottom: 30px;
}

.details-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* ?====================FINISH-DETAILS */

/* !!              START-IMPORTANT-NEWS */
.mailing-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.mailing-desk {
  color: #444444;
}

.subscription-btn {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.mailing-decor {
  color: #444444;
  position: relative;
}

.mailing-decor::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  background: url(../img/decor-images/tick.svg) no-repeat;
}

/* !!             FINISH-IMPORTANT-NEWS */

/* !!=============+===FINISH-MAIN-INDEX */

/* !!======================FOOTER-START */

.footer-page {
  width: 100%;
  height: 321px;
  background: #444444;
}

.container-footer {
  max-width: 1160px;
  margin: 61.5px auto;
  padding: 0 10px 0 10px;
  min-height: 198px;
  box-sizing: content-box;
}

.social-nav-list {
  display: flex;
}
.social-nav-item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3);
}
.facebook::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 18px;
  top: 11px;
  left: 16px;
  background: url(../img/icon/footer-social/facebook.svg) no-repeat;
}
.instagram::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 12px;
  background: url(../img/icon/footer-social/instagram.svg) no-repeat;
}
.twitter::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 14px;
  top: 13px;
  left: 13px;
  background: url(../img/icon/footer-social/twitter.svg) no-repeat;
}

.address-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-nav-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-link-phone {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}

/* !!=====================FOOTER-FINISH */

/* TODO====================PAGE-CATALOG */

.header-inner-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-filter-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.counter-range {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.catalog-sort-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.popular {
  color: #000000;
}

.title-product {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.btn-still {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.btn-back {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.btn-back-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.products-pagination-link {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
