* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  height: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  color: #171616;
  background: #ffffff;
}
.main-index {
  flex: 1 1 auto;
}

.main-catalog {
  flex: 1 1 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.button {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.user-nav-link {
  color: #000000;
  position: relative;
  display: inline-block;
}

.icon-login::before {
  content: "";

  width: 15px;
  height: 12px;
  position: absolute;
  background-image: url(../img/icon/header-user-nav/login.svg);
  background-repeat: no-repeat;
  top: 9px;
  left: -27px;
}

.icon-compare::before {
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  background-image: url(/img/icon/header-user-nav/compare.svg);
  background-repeat: no-repeat;
  top: 9px;
  left: -27px;
}

.icon-basket::before {
  content: "";
  width: 31px;
  height: 21px;
  position: absolute;
  background-image: url(/img/icon/header-user-nav/basket-counter.svg);
  background-repeat: no-repeat;
  top: 4.5px;
  left: -43px;
}

.nav-catalog-link {
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  margin-right: 20px;
  outline: none;
}

.btn-catalog::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/icon/header-user-nav/plus.svg);
  background-repeat: no-repeat;
  top: 15px;
  left: 15.5px;
}

.other-link,
.clock-link,
.quadcopters-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.link {
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
}

.nav-page__item:active {
  text-decoration: underline;
}

.counter {
  font-weight: bold;
  font-size: 180px;
  line-height: 30px;
  color: #000000;
}

.slide-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slide-desk {
  color: #444444;
}

.characteristic-list dt {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}
.characteristic-list dd {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.category-desk {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  padding-top: 32px;
}

.virtual-real::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/virtual-real.svg) no-repeat 50% 53px;
}
.monopad::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/monopad.svg) no-repeat 50% 43px;
}
.camera::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/camera.svg) no-repeat 50% 36px;
}
.fitnes::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/fitnes.svg) no-repeat 50% 47px;
}
.clock-work::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/clock-work.svg) no-repeat 50% 31px;
}
.quadrocopter::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../img/category/quadrocopter.svg) no-repeat 50% 45px;
}

.service-btn-cheked {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffe17f;
}

.service-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.service-desk {
  color: #444444;
}

.service-list-desk {
  position: relative;
}

.service-item-desk::before {
  content: "";
  display: block;
  position: absolute;
  width: 136px;
  height: 164px;
  top: 0;
  right: 0;
  background: url(../img/decor-images/courier.svg) no-repeat center;
}

.order-delivery-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.details-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 48px;
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 24px;
  color: #444444;
  margin-bottom: 15px;
}

.details-text {
  color: #444444;
  margin-bottom: 30px;
}

.details-text-adress {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contacts-addres-link-phone {
  display: inline-block;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  text-decoration: underline;
  margin-bottom: 30px;
}

.details-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.mailing-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.mailing-desk {
  color: #444444;
}

.subscription-btn {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.mailing-decor {
  color: #444444;
  position: relative;
}

.mailing-decor::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  background: url(../img/decor-images/tick.svg) no-repeat;
}

.social-nav-item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3);
}
.facebook::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 18px;
  top: 11px;
  left: 16px;
  background: url(../img/icon/footer-social/facebook.svg) no-repeat;
}
.instagram::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 12px;
  background: url(../img/icon/footer-social/instagram.svg) no-repeat;
}
.twitter::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 14px;
  top: 13px;
  left: 13px;
  background: url(../img/icon/footer-social/twitter.svg) no-repeat;
}

.address-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-nav-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-link-phone {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}

/* TODO====================PAGE-CATALOG */

.header-inner-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-filter-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.counter-range {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.catalog-sort-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.popular {
  color: #000000;
}

.title-product {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.btn-still {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.btn-back {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.btn-back-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.products-pagination-link {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
