/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.main-index,
.main-catalog {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.wrapper-page,
.wrapper-inner {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button {
  position: relative;
  height: 40px;
  padding: 11px 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  opacity: 0;
}

.button::before {
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  background: #ffe17f;
  top: 17px;
  left: 0;
  z-index: -5;
}

.link-uppercase {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

html {
  height: 100%;
}

body {
  min-width: 1160px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  color: #171616;
  background: #ffffff;
}

/* !!================================================HEADER ======START===============================*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}

.header-index {
  width: 1160px;
  margin: 40px auto 0;
  min-height: 300px;
  background: #ffe17f;
}

.header-wrapper-catalog {
  width: 1160px;
  margin: 40px auto 0;
  background: #ffe17f;
}

.header-container {
  padding: 0 60px 0 60px;
  margin: -20px auto;
}

.header-container__link-logo {
  display: inline-block;
  margin-bottom: 17px;
}

.user-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

/* !!====================================================================FORM-SEARCH */
.user-nav__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 517px;
  margin-right: 26px;
}

.search-name::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../img/icon/header-user-nav/search.svg");
  background-repeat: no-repeat;
  top: 12px;
  left: 16px;
}

.search-name::after {
  content: "";
  position: absolute;
  width: 358px;
  height: 42px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  cursor: pointer;
  left: 0;
  top: 0;
  display: none;
}

.search-name:focus-within::after {
  display: block;
}

.search-field {
  position: relative;
  width: 357px;
  padding: 9.5px 44px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-right: none;
  border-radius: 50px 0 0 50px;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.search-field::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.3;
}

.search-field::-moz-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.3;
}

.search-field:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.3;
}

.search-field::-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.3;
}

.search-field::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.3;
}

.search-btn {
  width: 160px;
  border-radius: 0 50px 50px 0;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  border: solid 2px #000000;
  color: #000000;
  outline: none;
}

.search-btn:focus::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 42px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  font-size: 16px;
  top: 0;
  left: 357px;
}

.search-btn:hover {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}

.search-btn:active span {
  color: #ffffff;
  opacity: 0.3;
}

/* !!====FORM-SEARCH ==========finish*/

/* !!====USER-NAV */
.user-nav__list {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.user-nav__list,
.user-nav-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.counter-basket::before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  top: 2px;
  left: -15px;
  background: url("../img/icon/header-user-nav/basket-counter.svg") no-repeat;
  z-index: 1;
  visibility: hidden;
}

.user-nav-basket .user-nav__item {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-nav-basket__item:not(:last-child) {
  margin-right: 36px;
}

.user-nav-link {
  color: #000000;
  position: relative;
  display: inline-block;
}

.exit {
  opacity: 0.3;
}

.user-nav-link:hover {
  opacity: 0.6;
}

.user-nav-link:active {
  opacity: 0.3;
}

.icon-login {
  margin-right: 7px;
}

.icon-compare {
  margin-right: 12px;
}

.icon-basket {
  margin-right: 12px;
  position: relative;
}

.user-nav-basket__item:hover .popover {
  display: block;
}

/*!! popover */

.popover {
  position: absolute;
  width: 320px;
  background: #000000;
  right: -77px;
  z-index: 3;
  display: none;
}

.popover::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 6px;
  background: url("../img/popover/triangle.svg") no-repeat center top;
  top: -6px;
  left: 50%;
}

.popover:hover {
  opacity: 1;
}

.popover-list {
  padding: 0;
}

.popover-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0 20px 20px;
  cursor: pointer;
}

.popover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popover-content:hover {
  opacity: 0.6;
}

.popover-content:active {
  opacity: 0.3;
}

.popover-item:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-image {
  margin-right: 23px;
  width: 39px;
  height: 43px;
}

.popover-close-btn {
  display: block;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.popover-close-btn:hover {
  opacity: 0.6;
}

.popover-close-btn:active {
  opacity: 0.3;
}

.popover-link {
  display: block;
}

.popover-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #1a1a1a;
  padding: 20px 0;
}

.popover-title {
  width: 160px;
}

.quantity-product {
  width: 120px;
  margin-right: 10px;
}

.popover-price {
  width: 150px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.popover-title,
.popover-price,
.quantity-product {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.popover-button {
  border: none;
  background: #ffffff;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.popover-button span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 14.5px 25px;
}

.popover-button:hover {
  background: #ffe17f;
}

.popover-button span:active {
  opacity: 0.3;
}

/*!! popover */

/*!!=== PAGE-NAV-CONTAINER */

/* !!===============CATALOG-GROUP */
.nav-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.nav-page-catalog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 45px;
}

.nav-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 293px;
  z-index: 2;
}

.nav-catalog:hover .catalog-group {
  display: block;
}

.btn-catalog {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  opacity: 0.3;
  border: 2px solid #000000;
  background: transparent;
  padding: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.nav-catalog:hover .btn-catalog {
  border: 2px solid #000000;
  opacity: 1;
}

.btn-catalog::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background: #000000;
  top: 22px;
  left: 15px;
  margin: auto;
}

.btn-catalog::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background: #000000;
  top: 22px;
  left: 15px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav-catalog:hover > .btn-catalog::after {
  opacity: 0;
}

.catalog-group {
  width: 1160px;
  min-height: 162px;
  background: #ffe17f;
  padding: 0 60px 0 60px;
  display: none;
  position: absolute;
  bottom: -162px;
  left: -60px;
  z-index: 2;
}

.catalog-group:hover {
  display: block;
}

.catalog-group-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 125px;
  margin-bottom: 24px;
}

.other-list {
  min-width: 222px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 30px;
}

.catalog-group-item:hover {
  opacity: 0.6;
}

.catalog-group-item:active {
  opacity: 0.3;
}

.catalog-group-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  position: relative;
}

.catalog-group-link:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: 0;
  left: 0;
}

.clock-list,
.quadcopters-list {
  min-width: 195px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 45%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-page__item-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  position: relative;
}

.nav-page__link {
  outline: none;
  position: relative;
}

.nav-page__link:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -4px;
  left: 0;
  height: 2px;
  background: #000000;
}

.nav-link:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -4px;
  left: 0;
  height: 2px;
  background: #000000;
}

.nav-page__link:hover {
  opacity: 0.6;
}

.nav-page__link:active {
  outline: none;
  opacity: 0.3;
}

.nav-link:hover {
  opacity: 0.6;
}

.nav-link:active {
  opacity: 0.3;
}

/* !!======================MAIN-INDEX */

/*!!                     START-SLIDER */

.container {
  width: 1160px;
  margin: -150px auto;
}

.wrapper-slider {
  width: 1160px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-back {
  background-image: url("../img/arrow/back.svg");
  width: 20px;
  height: 60px;
  border: none;
  background-color: #ffffff;
}

.slider-next {
  background-image: url("../img/arrow/forward.svg");
  width: 20px;
  height: 60px;
  border: none;
  background-color: #ffffff;
}

.btn-link {
  width: 220px;
  margin-left: 3px;
}

.btn-link:hover {
  background: #ffe17f;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.btn-link:active {
  background: #ffcc33;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 530px;
  position: absolute;
  margin-left: 30px;
  top: 213px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 6;
}

.slider-next:hover,
.slider-back:hover {
  opacity: 0.6;
  cursor: pointer;
}

.slider-next:active,
.slider-back:active {
  opacity: 0.3;
  cursor: pointer;
}

.slids-list {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: 560px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-1 {
  display: block;
}

.slide-2 {
  display: none;
}

.slide-3 {
  display: none;
}

/*TODO  slider-informations   start*/

.slider-info {
  width: 560px;
  overflow: hidden;
  margin-top: 123px;
  z-index: 1;
}

.counter {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.counter-1 {
  position: absolute;
  right: 50px;
  top: 82px;
  z-index: -1;
}

.counter-2 {
  position: absolute;
  right: 60px;
  z-index: -1;
  top: 78px;
}

.counter-3 {
  position: absolute;
  right: 53px;
  top: 87px;
  z-index: -1;
}

.slide-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 29px;
  margin-top: 0;
}

.fitnes-title {
  width: 287px;
}

.summon-title {
  width: 437px;
}

.slide-desk {
  margin-bottom: 50px;
  margin-top: 0;
  color: #444444;
}

.desk-1 {
  display: block;
}

.desk-2 {
  display: none;
}

.desk-3 {
  display: none;
}

.characteristic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.characteristic-list {
  margin: 0 20px 0 0;
}

.characteristic-list dt {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0 0 12px 0;
  padding: 0;
  list-style: none;
}

.characteristic-list dd {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  list-style: none;
}

.summons {
  margin-right: 40px;
}

/*TODO  slider-informations  finish*/

/*TODO radio-button */

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 49px;
}

.slides-control-btn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.control-btn:not(:last-child) {
  margin-right: 20px;
}

.control-btn {
  display: inline-block;
  padding: 0;
  background: #ffffff;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;

  border-radius: 50%;
}

.control-btn-cheked {
  background: #000000;
}

.control-btn:hover {
  opacity: 0.6;
}

.control-btn:active {
  opacity: 0.3;
}

.slider__control-radio:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/*TODO radio-button */

/*!!                    FINISH-SLIDER */

/* !!===================START-CATEGORY */
.category-container {
  width: 1160px;
  margin: 0 auto 184px;
}

.category-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px 40px 160px 40px 160px 40px 160px 40px 160px 40px 160px;
  grid-template-columns: repeat(6, 160px);
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 20px;
  padding: 37px 0 0 0;
  list-style: none;
  margin: 0;
}

.category-item {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-item:active {
  opacity: 0.3;
}

.category-desk-title {
  max-width: 160px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  padding-top: 32px;
  margin: 0;
}

.monopad-title {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.background-block {
  width: 160px;
  height: 160px;
  background: #ffe17f;
}

.virtual-real::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url("../img/category/virtual-real.svg") no-repeat 50% 53px;
}

.monopad::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url("../img/category/monopad.svg") no-repeat 50% 43px;
}

.camera::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url("../img/category/camera.svg") no-repeat 50% 36px;
}

.fitnes::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url("../img/category/fitnes.svg") no-repeat 50% 47px;
}

.clock-work::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url("../img/category/clock-work.svg") no-repeat 50% 31px;
}

.quadrocopter::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url("../img/category/quadrocopter.svg") no-repeat 50% 45px;
}

.category-item:hover .background-block {
  background: #ffc700;
}

.category-link {
  display: block;
}

/*!!===================FINISH-CATEGORY */

/*!!                     START-SERVICE */
.service {
  background: #f0f0f0;
}

.service__container {
  width: 1160px;
  margin: 0 auto 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.service-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -102px;
  margin-bottom: 72px;
}

.service-list {
  width: 287px;
  border-right: 7px solid #000000;
  margin: 0;
  padding: 65px 0 65px;
  list-style: none;
  z-index: 1;
}

.garant,
.credit {
  display: none;
}

.service-list-desk {
  position: relative;
  width: 873px;
  margin: 0;
  list-style: none;
  padding: 74.5px 0 0 116px;
}

.service-item-cheked {
  background: #171616;
  margin-bottom: 35px;
}

.service-btn-cheked:hover {
  color: #ffe17f;
  opacity: 0.6;
}

.service-btn-cheked:active {
  background: #171616;
  opacity: 0.3;
}

.service-btn:hover {
  opacity: 0.6;
}

.service-btn:active {
  opacity: 0.3;
}

.service-item:not(:last-child) {
  margin-bottom: 35px;
}

.service-item:hover {
  background: #171616;
}

.service-item:active {
  background: #171616;
}

.service-item:hover .service-btn {
  color: #ffe17f;
}

.service-btn:active {
  color: rgba(255, 225, 127, 0.3);
}

.service-item:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.service-item-desk {
  width: 100%;
}

.service-item__desk-container {
  width: 694px;
}

.service-btn-cheked {
  width: 100%;
  text-align: left;
  padding-left: 20px;
  display: inline-block;
  color: #ffe17f;
  cursor: pointer;
}

.service-btn {
  display: inline-block;
  min-width: 160px;
  cursor: pointer;
}

.service-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 34px;
  margin-top: 0;
}

.service-desk {
  width: 453px;
  margin-top: 0;
  color: #444444;
}

.delivery {
  background: url("../img/decor-images/courier.svg") no-repeat right;
}

.garant {
  background: url("../img/decor-images/garant.svg") no-repeat right;
}

.credit {
  background: url("../img/decor-images/credit.svg") no-repeat right;
}

/*!!                    FINISH-SERVICE */

/*!!              START-ORDER-DELIVERY */
.order-delivery__container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f0f0f0;
}

.order-delivery__container:active {
  opacity: 0.3;
  outline: none;
}

.order-delivery-text {
  width: 910px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  padding: 38px 0;
}

.order-delivery__container::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffe17f url("../img/decor-images/delivery.svg") center no-repeat;
}

.order-delivery__container:hover::before {
  background: #ffc700 url("../img/decor-images/delivery.svg") no-repeat center;
}

.order-delivery__container::after {
  content: "i";
  opacity: 0.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(220, 220, 220, 1);
  border-radius: 50px;

  right: 42.5px;
}

.order-delivery__container:hover::after {
  background: rgba(220, 220, 220, 0.5);
  opacity: 1;
}

/*!!             FINISH-ORDER-DELIVERY */

/* !!=====================START-DETAILS */
.details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto 70px;
  padding-top: 70px;
}

.about {
  width: 520px;
  margin-right: 108px;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  display: block;
  width: 84px;
  height: 7px;
  top: 0;
  left: 0;
  background: #000000;
}

.contacts {
  width: 532px;
  position: relative;
}

.contacts::before {
  content: "";
  position: absolute;
  display: block;
  width: 84px;
  height: 7px;
  top: 0;
  left: 0;
  background: #000000;
}

.delivery-company-list {
  margin-bottom: 30px;
  margin-top: 0;
  padding-left: 36px;
  list-style: none;
}

.details-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 48px;
  margin-top: 0;
  padding-top: 47px;
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 24px;
  color: #444444;
  margin-bottom: 15px;
  margin-top: 0;
}

.about-link {
  margin-top: 0;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  top: 5px;
  left: -35px;
  border-radius: 50px;
  background: #ffc700;
}

.contacts-schedule {
  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.details-text {
  color: #444444;
  margin-bottom: 30px;
  padding-right: 23px;
  margin-top: 0;
}

.details-text-adress {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  line-height: 30px;
  color: #444444;
  margin: 0;
}

.contacts-addres-link-phone {
  display: inline-block;
  font-style: normal;
  line-height: 30px;
  color: #444444;
  text-decoration: underline;
  margin-bottom: 30px;
}

.details-link {
  display: inline-block;
  min-width: 270px;
}

.contacts-link {
  display: inline-block;
  min-width: 260px;
}

.details-link:hover,
.contacts-link:hover {
  background: #ffe17f;
  -webkit-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.details-link:active,
.contacts-link:active {
  background: #ffcc33;
  -webkit-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

/* ?====================FINISH-DETAILS */

/* !!              START-IMPORTANT-NEWS */
.mailing {
  background: #f0f0f0;
}

.mailing__container {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 56px;
}

.mailing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
}

.mailing-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 358px;
  margin: 0 250px 144px 0;
  padding: 0 0 0 6px;
}

.mailing-desk {
  color: #444444;
  width: 529px;
  margin: 0;
  padding: 10px 0 0 0;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.subscription-mail {
  background: #f0f0f0;
  border-bottom: 3px solid #cecece;
  border-top: 0;
  border-left: 0;
  border-right: none;
  width: 557px;
  padding: 0 0 0 17px;
}

.subscription-form::after {
  content: "";
  position: absolute;
  width: 557px;
  height: 2px;
  bottom: 0;
  background: #ff3d3d;
  display: none;
}

.subscription-mail:focus {
  background: #dcdcdc;
}

.subscription-mail:focus-within {
  outline: none;
}

.subscription-mail::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscription-mail::-moz-placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscription-mail:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscription-mail::-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscription-mail::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscription-form::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 11px;
  left: 16px;
  background: url("../img/icon/header-user-nav/search.svg") no-repeat center;
  opacity: 0;
}

.subscription-btn {
  border: 3px solid #cecece;
  padding: 15px 36px;
  cursor: pointer;
}

.subscription-btn:hover {
  background: #000000;
  color: #f0f0f0;
  border: none;
}

.subscription-btn:active {
  background: #000000;
  color: #f0f0f07c;
  border: none;
}

.mailing-decor {
  width: 160px;
  padding: 13.5px 0;
  color: #444444;
  position: relative;
  margin-left: auto;
}

.mailing-decor::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 20.5px;
  left: -32px;
  background: url("../img/decor-images/tick.svg") no-repeat;
}

/* !!             FINISH-IMPORTANT-NEWS */

/* !!=============+===FINISH-MAIN-INDEX */

/* !!======================FOOTER-START */

.footer-page {
  width: 100%;
  height: 321px;
  background: #444444;
}

.footer-container {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  position: relative;
}

.footer-container::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  bottom: 76px;
  left: 0;
  background: #ffc700;
}

.logo-link {
  display: inline-block;
  margin-bottom: 30px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.address-footer {
  width: 241px;
  margin-right: 105px;
}

.address-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.footer-nav {
  margin-right: 177px;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 62px;
}

.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}

.footer-nav-link {
  color: #ffffff;
  position: relative;
}

.footer-nav-link:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffc700;
}

.footer-nav-link:hover {
  color: #ffc700;
}

.footer-nav-link:active {
  opacity: 0.3;
}

.social-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 61px;
}

.social-nav-item {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3);
}

.social-nav-link {
  display: block;
  width: 40px;
  height: 40px;
}

.facebook {
  background: url("../img/icon/footer-social/facebook.svg") no-repeat center;
}

.instagram {
  background: url("../img/icon/footer-social/instagram.svg") no-repeat center;
}

.twitter {
  background: url("../img/icon/footer-social/twitter.svg") no-repeat center;
}

.social-nav-item:hover {
  -webkit-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  background: #ffc700;
}

.social-nav-item:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.social-nav-item:not(:last-child) {
  margin-right: 15px;
}

.facebook:active {
  opacity: 0.3;
}

.instagram:active {
  opacity: 0.3;
}

.twitter:active {
  opacity: 0.3;
}

.footer-link-phone {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 65px;
  position: relative;
}

.footer-link-phone:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffc700;
}

.footer-link-phone:hover {
  color: #ffc700;
}

.footer-link-phone:active {
  opacity: 0.3;
}

.logo-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-link-logo {
  display: block;
  margin-left: auto;
}

.logo-image {
  margin-left: 60px;
}

.footer-logo-company {
  fill: #ffc700;
}

.footer-logo-company:hover {
  fill: #f0f0f0;
}

.footer-logo-company:active {
  fill: #ffffff;
  opacity: 0.3;
}

/* !!=====================FOOTER-FINISH */

/* TODO====================PAGE-CATALOG */

.header-container-catalog {
  padding: 0 60px 0 60px;
  margin: -20px auto;
}

/*? breadcrumbs */

.breadcrumbs {
  width: 1160px;
  margin: 0 auto 35px;
  padding: 33px 60px 0;
}

.breadcrumbs-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 16px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 7px;
  right: 0;
  width: 4px;
  height: 7px;
  background: url("../img/arrow/breadcrumbs-arrow.svg") no-repeat center;
  content: "";
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 16px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 20px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

/*? breadcrumbs */

/*? filter */

.catalog-filter {
  width: 320px;
  padding: 0 60px 0 60px;
}

.catalog-filter-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 25px 0 25px 0;
  margin-bottom: 35px;
}

.catalog-filter-range {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  position: relative;
  height: 95px;
}

/*!! range */
.filter-title-range {
  margin: 0;
  padding: 12px 0 0 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 27px;
}

.range-scale {
  position: relative;
  height: 3px;
  margin-bottom: 16px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 3px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #f0f0f0;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.range-toggle::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #af4fff;
  cursor: pointer;
  top: -4px;
  left: -4px;
  display: none;
}

.range-toggle:focus::before {
  display: block;
  outline: none;
}

.range-toggle:hover {
  background: #ebebeb;
  border: 2px solid #cccccc;
}

.range-toggle:active {
  background: #000000;
  border: 2px solid #000000;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-filter-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.catalog-filter-label:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  opacity: 1;
}

.range-input:focus {
  outline: none;
}

.range-input {
  position: relative;
  width: 39px;
  padding: 0 2px;
  font: inherit;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/*!! range */

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  position: relative;
}

.catalog-filter-group::before {
  content: "";
  display: block;
  position: absolute;
  top: -54px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
}

.filter-title {
  margin: 0;
  padding: 12px 0 0 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 20px;
}

.products-catalog {
  background: #f0f0f0;
}

/*!! CUSTOM-CHECKBOX      START*/
.custom-checkbox {
  padding-left: 36px;
  position: relative;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.chekbox {
  position: absolute;
  top: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-input:focus + .chekbox {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.control-input:checked + .chekbox {
  outline: none;
}

.control-input:checked + .chekbox {
  background: url("../img/decor-images/check.svg") no-repeat center;
  border: 2px solid #000000;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 20px;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item:not(:last-child) {
  margin-bottom: 18px;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.control-input + .chekbox {
  position: absolute;
  left: 0;
}

.catalog-item:hover {
  opacity: 0.6;
}

.catalog-item:active {
  opacity: 0.3;
}

/*!! CUSTOM-CHECKBOX      FINISH*/

/*!! CUSTOM-RADIO      START*/
.custom-radio {
  padding-left: 36px;
  position: relative;
}

.radio__box {
  position: absolute;
  top: 0;
  border: 2px solid #cccccc;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

.radio__box::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000000;
  display: none;
  top: 25%;
  left: 25%;
}

.radio__box::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  cursor: pointer;
  top: -2px;
  left: -2px;
  display: none;
}

.control-radio:focus-within + .radio__box::after {
  display: block;
}

.control-radio:checked + .radio__box {
  border: 2px solid #000000;
}

.control-radio:checked + .radio__box::before {
  display: block;
}

.control-radio + .radio__box {
  position: absolute;
  left: 0;
}

.custom-radio:hover {
  opacity: 0.6;
}

.custom-radio:active {
  opacity: 0.3;
}

/*!! CUSTOM-RADIO      finish*/

.filter-button {
  width: 220px;
  z-index: 1;
}

.filter-button:hover {
  background: #ffe17f;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.filter-button:active {
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: #ffcc33;
  z-index: 2;
}

.counter-range {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

/*!! products-nav-container start */
.products {
  background: #ffffff;
}

.products-nav-container {
  background: #f0f0f0;
}

.produts-nav-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 40px 20px 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.produts-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.produts-nav-item:not(:last-child) {
  margin-right: 195px;
}

.sort {
  padding: 5.5px 0;
}

.catalog-sort-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.button-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog-popular-up {
  width: 30px;
  height: 30px;
  padding: 0;
  background: url("../img/arrow/arrow-up.svg") no-repeat center;
  border: none;
  display: block;
}

.catalog-popular-down {
  width: 30px;
  height: 30px;
  padding: 0;
  background: url("../img/arrow/arrow-down.svg") no-repeat center;
  border: none;
  display: block;
}

.catalog-popular-up:hover,
.catalog-popular-down:hover {
  opacity: 0.6;
}

.catalog-popular-up:active,
.catalog-popular-down:active {
  opacity: 0.3;
}

.popular {
  color: #000000;
}
/*!! products-nav-container finish */

.select-control {
  width: 159px;
  height: 30px;
  border: none;
  background: transparent;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.select-control:hover {
  opacity: 0.3;
}

.select-control option {
  padding: 0;
}

.select-control:active {
  opacity: 0.6;
}

.product-list {
  background: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 40px 360px;
  grid-template-columns: 360px 360px;
  grid-gap: 44px 40px;
  margin: 70px 0 44px 0;
  padding: 0 40px 0 40px;
  list-style: none;
  margin-bottom: 44px;
}

.product-item {
  position: relative;
}

.product-item-link {
  display: block;
}

.new {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 0;
  top: 27px;
  right: 27px;
}

.new-product {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  padding: 20px 8px;
}

.product-item-link:hover,
.product-name-price:hover {
  opacity: 0.6;
}

.product-item:hover .product-button {
  display: block;
}

.product-item-link:active {
  opacity: 0.3;
}

.product-img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  margin-bottom: 22px;
}

.product-img:hover {
  outline: 1px solid #444444;
}

.product-button {
  width: 220px;
  display: none;
  position: absolute;
  top: 170px;
  left: 70px;
  z-index: 1;
}

.product-button:hover {
  background: #ffe17f;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.product-button:active {
  background: #ffc700;
}

.product-name-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title-product {
  width: 226px;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.title-product:hover {
  opacity: 0.6;
}

.price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
  white-space: nowrap;
}

.btn-still {
  width: 760px;
  display: block;
  margin: 0 auto 40px;
  padding: 0;
  border: 3px solid #e5e5e5;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-still-text:hover {
  background: #000000;
  color: #ffffff;
  outline: 3px solid #000000;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn-still-text:active {
  color: #444444;
}

.btn-still-text {
  padding: 18px 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
}

.pagination-container {
  width: 760px;
  margin: 0 auto 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ebebeb;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.products-pagination-list {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15.5px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.products-pagination-link {
  width: 40px;
  height: 40px;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  padding: 10px;
}

.products-pagination-link:hover {
  opacity: 1;
}

.products-pagination-link:active {
  opacity: 0.1;
}

.products-pagination-button {
  padding: 0;
  border: none;
  background: transparent;
  min-width: 128px;
  height: 71px;
  cursor: pointer;
}

.products-pagination-button:hover {
  background: #dcdcdc;
}

.products-pagination-button:active {
  background: #dcdcdc;
  opacity: 0.3;
}

/*! modal-window start*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  z-index: 1000;
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #ffffff;
}

.modal-auth {
  width: 920px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 12px;
  right: 0;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  border: none;
  background-image: url("../img/icon/button-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-content {
  position: relative;
}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/*! form-madal start*/

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.order-form .field-group {
  margin: 0;
  position: relative;
  margin-bottom: 22px;
}

.field {
  padding: 22.5px;
  border: none;
  margin-top: 14px;
}

.field::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.3;
}

.field::-moz-placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.3;
}

.field:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.3;
}

.field::-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.3;
}

.field::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.3;
}

.field-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}

.name-form-field {
  width: 360px;
  background: #f0f0f0;
}

.name-icon {
  position: absolute;
  top: 55px;
  right: 24px;
}

.placeholder-login {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  opacity: 0;
}

.name-form-field {
  opacity: 1;
}

.email-icon {
  position: absolute;
  top: 55px;
  right: 24px;
}

.name-email-field {
  width: 360px;
  padding: 22.5px;
  background: #f0f0f0;
  border: none;
  margin-top: 14px;
}

.invalid-mail {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ff3d3d;
  opacity: 0;
}

.name-form-field:hover,
.name-email-field:hover,
.name-product-field:hover {
  background: #dcdcdc;
}

.name-form-field:focus,
.name-email-field:focus,
.name-product-field:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.name-email-field:invalid {
  outline: 2px solid #ff3d3d;
}

.name-email-field:invalid ~ .invalid-mail {
  opacity: 1;
}

.name-product-field {
  width: 540px;
  background: #f0f0f0;
  margin-bottom: 22px;
}

.border-invalid:invalid {
  outline: 2px solid #ff3d3d;
}

/*? counter */

.counter-title {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-right: 8px;
}

.counter-form-field {
  width: 180px;
  background: #f0f0f0;
  border: none;
  margin-top: 8px;
}

.togle-button-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.invalid-value {
  outline: 2px solid #ff3d3d;
  outline: none;
}

.togle-btn {
  position: relative;
  border: none;
  margin: 0;
  padding: 30px 30px;
  cursor: pointer;
}

.togle-minuse::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../img/icon/minus.svg") center no-repeat;
  top: 24px;
  left: 22px;
}

.togle-pluse::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../img/icon/pluse.svg") center no-repeat;
  top: 22px;
  left: 22px;
}

.togle-btn:hover {
  background: #ebebeb;
}

.togle-pluse:hover::before,
.togle-minuse:hover::before {
  opacity: 0.6;
}

.togle-pluse:active::before,
.togle-minuse:active::before {
  opacity: 0.3;
}

/*? counter */

/*! form-madal finish*/

.order-button {
  display: block;
  width: 200px;
  z-index: 1;
}

.order-button:hover {
  background: #ffe17f;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.order-button:active {
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: #ffcc33;
  z-index: 2;
}

/* ? tooltip */
.tooltip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.tooltip {
  bottom: 0;
  right: 0;
  width: 26px;
  height: 26px;
  background: #ffe17f;
  border-radius: 50%;
  position: relative;
}

.tooltip-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
  padding: 7px 11px;
}

.tooltip-icon:hover {
  opacity: 0.3;
}

.tooltip-icon:active {
  opacity: 0.6;
}

.tooltip-text {
  background: #000000;
  -webkit-box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-transform: none;
  padding: 19px 17px;
  display: block;
  width: 200px;
  position: absolute;
  top: 33px;
  right: -47px;
  margin-bottom: 6px;
  z-index: 1;
  display: none;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 53px;
  background: url("../img/popover/triangle.svg") no-repeat;
  width: 14px;
  height: 6px;
}

.tooltip-btn:hover + .tooltip-text,
.tooltip-btn :focus + .tooltip-text {
  display: block;
}

/* ? tooltip */

/*! modal-window finish*/